@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <br />
    @{ 

        List<string> list = new List<string>();
        list.Add("i");
        list.Add("a");

        foreach (object post in list)
        {
                <div class="row" id="post" style="border-style:solid; height:100px; overflow: hidden;">
                    <div class="col-sm-3" id="upvote" style="height:100%;">
                        lkxslkx <br />
                        dsasdsad
                    </div>
                    <div class="col-sm-9" id="detail" style="height:100%;">
                        <div class="top-half">
                            <div class="title">
                                @post
                            </div>
                            <div class="status">
                                @post
                            </div>
                        </div>
                        <div class="bottom-half">
                            <div class="username">
                                @post
                            </div>
                            <div class="time">
                                @post
                            </div>
                            <div class="location">
                                @post
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            }

    }
</div>