
@{
    ViewBag.Title = "PostDetailView";
}

<h2>PostDetaiView</h2>

<div class="container">

	<!------Post--->
	<div class="row">
		<!--this is where the post divs should go-->
	</div>
	
	<!------Pic and descriptions--->
	<div class="row">
		<div class="col-sm-5 picture">

		</div>

		<div class="col-sm-8 description">

		</div>

	</div>

	<!------Gov Update--->
	<div class="row">
		<div class="col-sm-8">
			gov update
		</div>
		<div class="btn btn-primary">Edit</div>
	</div>

</div>